.wrapper {ul li:nth-child(even) a {  
    transform:rotate(4deg);  
    position:relative;  
    top:5px;  
  }  

  ul li:nth-child(3n) a {  
    transform:rotate(-3deg);  
    position:relative;  
    top:-5px;  
  }  
  
  ul li:nth-child(5n) a {  
    transform:rotate(5deg);  
    position:relative;  
    top:-10px;  
  }
  ul li a:hover,ul li a:focus{  
    transform: scale(1.25);   
    position:relative;  
    z-index:5;  
  }
  ul li a{  
    text-decoration:none;  
    color:#000;  
    // background:#ffc;  
    display:block;  
    // height:10em;  
    // width:10em;  
    // padding:1em;  
    transition: transform .15s linear;  
  }
  ul li:nth-child(even) a{  

  //  transform: rotate(4deg);  

    position: relative;  
    top: 5px;  
    background: #f0eef0;  
  }  
  ul li:nth-child(3n) a{  

  //  transform: rotate(-3deg);  
 
    position: relative;  
    top: -5px;  
    background: #ccf;  
  }
}